*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    height: 3rem;
    padding: 0.2rem;
    background-color: rgb(148, 148, 248);
    justify-content: center;
    align-items: center;
}

.navbarContainer{
    display: flex;
    padding: 0.2rem;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.navbarItems{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 50%;
}

.navbarItems li{
    list-style: none;
    padding: 1em;
}

.navbarItems li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbarItems-footer li a{
    display: none;
}

.navbarItems li:hover{
    background-color: rgb(252, 135, 236);
}

.logo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.logoName{
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 1em;
}

@media screen and (max-width: 800px) {
    .navbarItems{
        display: none;
    }
    .navbar-footer{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3rem;
        padding: 0.2rem;
        background-color: rgb(148, 148, 248);
    }
    
    .navbarContainer-footer{
        display: flex;
        padding: 0.2rem;
        width: 75%;
        justify-content: center;
        align-items: center;
    }
    
    .navbarItems-footer{
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex: 50%;
    }
    
    .navbarItems-footer li{
        list-style: none;
        padding: 1em;
    }
    
    .navbarItems-footer li a{
        display: block;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
  }