*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    height: 3rem;
    padding: 0.2rem;
    background-color: rgb(148, 148, 248);
    justify-content: center;
    align-items: center;
}

.navbarContainer{
    display: flex;
    padding: 0.2rem;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.navbarItems{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 50%;
}

.navbarItems li{
    list-style: none;
    padding: 1em;
}

.navbarItems li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbarItems-footer li a{
    display: none;
}

.navbarItems li:hover{
    background-color: rgb(252, 135, 236);
}

.logo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.logoName{
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 1em;
}

@media screen and (max-width: 800px) {
    .navbarItems{
        display: none;
    }
    
  }

.homeMain{
    overflow: hidden;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBack{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
